---
// assets
import "../styles/global.css";
import { Font } from "astro:assets";

// components
import Wrapper from "../components/global/Wrapper.astro";
import BaseHead from "../components/global/BaseHead.astro";
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";

const {title, description, titleTemplate, siteName, ogImage, twitterSite, themeColor, locale, ...seoProps} = Astro.props;
---
<html lang="en">
	<BaseHead 
		title={title}
      	description={description}
    	titleTemplate={titleTemplate}
      	siteName={siteName}
      	ogImage={ogImage}
      	twitterSite={twitterSite}
      	themeColor={themeColor}
      	locale={locale}
      	{...seoProps}
	/>
	<body class="bg-base-950">
		<Wrapper>
			<Header />
			<main class="px-32 py-56 flex flex-col gap-56">
            	<slot />
        	</main>
        	<Footer />
		</Wrapper>
	</body>
</html>
